*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.foto{
    
}

img{
    width: 100px;
    height: 150px;
    
}

.titulo{    
    margin-left: 60px;
}
header{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: blue;
    width: 780px;
    height: 150px;
    margin: auto;
    box-shadow: -10px 5px 5px rgba(0, 0, 0, 0.473);
}

.clear{
    clear: both;
}