*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-image: url('../img/background-header.png');
    background-repeat: no-repeat;
    background-size: cover;
     
}

a{
    text-decoration: none;
    color: black;
    
}

a:visited{
    color: black;
}
img{
    max-width: 150px;
    max-height: 100px;
    
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;/*ja é o padrão, não precisa colocar*/
    background-color: #ffffff;
    opacity: 1;
    background-image: url('../img/background-header.png');
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    width: 80%;
    max-width: 1024px;
    box-shadow: -2px 10px 5px rgba(255, 255, 255, 0.6); 
}
.container div{    
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}

@media screen and (max-width: 600px) {

    img{    
        
        width: 75;
        height: 50px;    
    }

    h1{
        font-size: 12px;
    }
    h5{
        font-size: 8px;
    }

}



